/* Medium */

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
         url('../fonts/Gilroy-Medium.ttf') format('truetype'),
         url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Medium.woff') format('woff'); 
    font-weight: 500;
    font-style: normal;
}

/* Bold */

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy'),
         url('../fonts/Gilroy-Bold.ttf') format('truetype'),
         url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gilroy-Bold.woff') format('woff'); 
    font-weight: 700;
    font-style: normal;
}

body{
    font-family: 'Gilroy';
    font-size: 16px;
}
.container{
    max-width: 950px;
    margin: 0 auto;
}
.topnav{

}
.navli {
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    font-family: 'Gilroy-Bold';
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    margin-bottom: 40px;
}
.contentt{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rueng{
    rotate: -90deg;
}
.contentt h1{
    font-size: 47.3392px;
    line-height: 59px;
    
    /* Black */
    
    color: #070707;
}
.descr{
    margin-top: 55px;
}
.imgtop{
    margin-bottom: 105px;
}
.prestext{
    background: #F6F6F6;

}
.textboxitem {
    font-size: 18px;
line-height: 22px;
text-align: center;

/* Black */

color: #070707;
}
.textboxh{
    display: flex;
    justify-content: center;
    padding-top: 120px;
    font-size: 34px;
line-height: 42px;
text-align: center;

/* Black */

color: #070707;
}
#textboxitem1{
    margin-bottom: 43px;
}
.textbox{
    padding-bottom: 105px;
}
.skill{
    text-align: center;
    padding-top: 91px;
    margin-bottom: 69px;
    font-size: 34px;
    line-height: 42px;
}
.work{
    text-align: center;
    margin-bottom: 84px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.skimg{
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
.portfolio{
    background: #F6F6F6;
}
.portf{
    padding-top: 113px;
    text-align: center;
    margin-bottom: 47px;
}
.portfoliobox{
    text-align: center;
}
.portdesctxt{
    margin-top: 45px;
    margin-bottom: 99px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;

    /* Black */

    color: #070707;
}
#braun{
    padding-bottom: 96px;
}